<div class="navbar-brand" style="margin:  0.5rem 0 0.5rem 0">
  <%= link_to 'Members Only', posts_path, class: 'navbar-item is-size-4 has-text-white has-background-black',
                                          style: 'border-radius: 100px' %>
</div>
