<div class="column is-half is-offset-one-quarter" style="padding: 0px; border: 1px solid darkgray;">
  <%= render 'users/display/level' %>
  <%= render 'users/display/image' %>
  <%= render 'users/display/bio' %>
  <p>TABS</p>
  </div>
