<div class="column is-half is-offset-one-quarter " style="padding: 0px; border: 1px solid darkgray;">
  <% if user_signed_in? %>
    <div class="block separated">
      <%= render "form", button_text: 'Submit',
        textarea_text: 'Please enter your text here limited to 300 characters.' %>
    </div>
  <% end %>
  <%= render @posts %>
</div>
