<nav class="level is-mobile">
  <div class="level-left">
    <%= link_to nil, class: "level-item" do %>
      <span class="icon is-small"><i class="fa fa-reply" ></i></span>
    <% end %>
    <%= link_to nil, class: "level-item" do %>
      <span class="icon is-small"><i class="fa fa-thumbs-o-up" ></i></span>
    <% end %>
    <%= link_to nil, class: "level-item" do %>
      <span class="icon is-small"><i class="fa fa-thumbs-o-down" ></i></span>
    <% end %>
  </div>
</nav>
