<article class="media">
  <div class="media-left">
    <figure class="image is-64x64">
  <%= gravatar_image_tag(post.user&.email, alt: post.user&.username, class: "is-rounded") %>
    </figure>
    <%#= render "nav", post: post %>
  </div>
  <div class="media-content">
    <div class="content">
      <% if user_signed_in? %>
        <p class="title is-6">
          <%= post.user.nil? ? "Deleted User" : "#{post.user.username}" %>
        </p>
      <% end %>
      <p style="white-space: pre-line"><%= post.content %></p>
    </div>
  </div>
</article>
