/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bulma";

// .media + .media {
//     border-width: 1px;
//     border-color: darkgray;
// }

/* stylelint-disable color-function-notation */
a {
  color: hsl(0deg, 0%, 48%);
}
/* stylelint-enable color-function-notation */

.field.hidden {
  margin: 0;
}

.level.repost {
  margin-bottom: 0;
  height: 1.2rem;
  font-size: 0.9em;
}

.level-item.repost-symbol {
  width: 64px;
  justify-content: end;
}

.level-item.repost-title {
  margin-left: 0.25rem;
}

nav > .level-item {
  justify-content: left;
}

.separated {
  padding-top: 0.6rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.block.separated {
  margin-bottom: 0.7rem;
}

.separated + .separated {
  border-top: 1px solid darkgray;
}

.submitbutton {
  color: black;
  padding: 0;
  background-color: transparent;
  text-decoration: inline;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.submitlink {
  padding: 0;
  background-color: transparent;
  text-decoration: inline;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.submitlink:hover {
  color: #363636 !important;
}
