<div class="level" style="padding-left: 1rem; padding-right: 1rem; margin-bottom: 0">
  <div class="level-left">
    <div class="level-item">
      <%= link_to 'Back', posts_path %>
    </div>
  </div>
  <div class="level-item is-justify-content-left">
    <div class="ml-6">
      <h1 class="title is-4"><%= @user.title %></h1>
      <h2 class="heading is-6"><%= "#{@user.posts.count} Posts" %></h2>
    </div>
  </div>
</div>
